html 
    head 
        title Form Data 
        body 
        h1 User Form 
        form(action="", method="GET")
            label Name 
            input(type="text", name="name", placeholder="Enter Name")
            br
            label Email: 
            input(type="email", placeholder="Enter Email", name="email", required)
            br
            input(type="submit" value="Submit")